---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  <hr>

  <div class="home-sections">
    <div class="column">
      <h2 class="section-heading">Recent posts</h2>

      {%- if site.posts.size > 0 -%}
        <ul class="post-list">
          {%- for post in site.posts limit: 5 -%}
          <li>
            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
            <span class="post-meta">
              {{- post.date | date: date_format -}}
              {%- if post.categories.size > 0 %} &verbar; {{ post.categories | first | capitalize }}{% endif -%}
            </span>
            <h3>
              <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
            </h3>
          </li>
          {%- endfor -%}
        </ul>

        {%- if site.posts.size > 5 -%}
          <p><a href="{{ "/notebook/" | relative_url }}">All posts &rarr;</a></p>
        {%- endif -%}
      {%- else -%}
        <p>No posts yet.</p>
      {%- endif -%}
    </div>

    <div class="column">
      <h2 class="section-heading">What's new?</h2>

      {%- if site.data.whats_new -%}
        <ul class="whats-new">
          {%- for item in site.data.whats_new limit: 5 -%}
          <li>
            <span class="post-meta">{{ item.date }}</span>
            {{ item.text | markdownify }}
          </li>
          {%- endfor -%}
        </ul>
      {%- endif -%}
    </div>
  </div>
</div>
